<nav
  class="navbar"
  style="height: 80px; border-bottom: 1px solid rgba(255, 255, 255, 0.305)"
>
  <div class="container-fluid d-flex justify-content-center" style="gap: 40px">
    <a class="botao-cabecalho">Home</a>
    <a class="botao-cabecalho">Serviços</a>
    <a class="botao-cabecalho">Sobre Mim</a>
    <a class="botao-cabecalho">Projetos</a>
    <div class="vl"></div>
    <button
      class="btn"
      style="background-color: #49c0c0; color: white; font-weight: 600"
    >
      <i class="bi bi-pc-display-horizontal"></i> FAZER ORÇAMENTO
    </button>
  </div>
</nav>
